In [20]:
import pandas as pd

# Step 1: Load raw data
df_raw = pd.read_csv("Deforestation.csv")

# Step 2: Drop rows with any null values
df_cleaned = df_raw.dropna().copy()

# Step 3: Renaming columns for clarity
df_cleaned.rename(columns={
    'Country code': 'country_code',
    'year': 'year',
    'name': 'country_name',
    'forest_cover_percent': 'forest_cover_percent'
}, inplace=True)

# Step 4: Save the cleaned version
df_cleaned.to_csv("Deforestation_Cleaned.csv", index=False)

# Display sample output
df_cleaned.head(5)

  country_code  year country_name  forest_cover_percent
0          AFG  1990  Afghanistan                1.8528
1          AFG  1991  Afghanistan                1.8528
2          ALB  1990      Albania               28.7883
3          ALB  1991      Albania               28.7172
4          AFG  1992  Afghanistan                1.8528